
<h1>Inspiration for Eat Local</h1>

<h3>Good for the Environment</h3>
<p>Many of us have taken the time to think about how our eating habbits inpact the environment.  However, the first thoughts we tend to have are to eat vegetarian, or eat orgnic. Although those are good habbits, perheaps the biggest way we can impact our environment is by buying fresh, delicious food that leaves a small carbon footprint.</p>

<h3>Good for Our Community</h3>
<p>Cleary, this way of eating helps to support famrers and small business in this community. But in order for all people in the community to thrive, healthy eating needs to be accessible.  As a former teacher who spent 5 years working with low income students in the Milwaukee area, I know the impact poor nutrition can have an a student's ability to learn and grow.  But going to a store like Whole Foods may not be realistic for families most in need.  That's where this website seeks to fill a need.  Farmer's markets are a low cost option, but these markets do not always have strong advetising to connect to the community.</p>

<h3>Good for Me. And hopefully you too!)</h3>

<p>As a person aspiring to be healthier, I need to have all of the tools for eating healthy in once place.  Although there are sites for finding markets, or sharing recipes, there was not one that put all the information I needed to plan out my meals and shopping.  Hopefully that's good for others as well.</p>