@model TagModel
@{ using (Html.BeginForm())
    {
        
        <h3>Select the Food You'd Like to Search</h3>

        <form method="post" asp-controller="Recipe" asp-action="SeacrchByIngredient">
            
            <label for="tag">Local Food</label>
            <select asp-for="FoodId" asp-items="@Model.FoodList"></select>

            <br /><button type="submit">Submit</button>
        </form>

        <a asp-action="Details">Back to Recipe</a>
    }
}
