
@using (Html.BeginForm())
    {
    <br/>
    <br/>
    <form method="post" action="/LocalFoods/ViewOpenMarkets">

        <label for="day">day</label>
        <select id="day" , name="day">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
        </select>

        <input id="hour" name="hour" type="text" />
        
        <br /><button type="submit">Submit</button>
    </form>
        }



    
